* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: poppins, sans-serif;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #1E1F23;
}

.hero-header {
  width: 100%;
  /* height: 100%; */
  min-height: 720px;
  background: #1E1F23;
}

.wrapper {
  width: 1700px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #222;
  box-shadow: 0px 5px 25px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0px;
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.logo i {
  height: 45px;
  width: 45px;
  background-color: #007ced;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
}

.logo .logo-text {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

header{
  z-index: 5;
}

nav .togglebtn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 45px;
  right: 3%;
  z-index: 5;
  cursor: pointer;
  display: none;
}

nav .togglebtn span {
  display: block;
  background-color: #007ced;
  margin: 5px 0px;
  width: 100%;
  height: 3px;
  transition: 0.3s;
  transition-property: transform, opacity;
}

nav .navlinks {
  list-style-type: none;
}

nav .navlinks li {
  display: inline-block;
  padding: 8px;
  margin-right: 10px;
  border: 1px;
  border-radius: 50px;
}

nav .navlinks li a {
  text-align: center;
  color: #e5e5e5;
  transition: 0.3s;
}

nav .navlinks li a:hover {
  color: #08D9FF;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 4rem;
}

.container .hero-pic {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #444;
  box-shadow: 0px 5px 25px rgba(0, 51, 255, 0.5);
}

.hero-pic img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.hero-pic img:hover {
  transform: scale(1.1);
}

.hero-text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.hero-text h5 {
  color: #e5e5e5;
  font-size: 25px;
}

.hero-text h5 span {
  color: #007ced;
  font-size: 27px;
}

.hero-text h1 {
  color: #005db4;
  font-size: 4rem;
}

.btn-group {
  margin: 45px 0;
}

.btn-group .btn {
  border-color: #d5d5d5;
  color: #fff;
  background-color: #333;
  padding: 12px 25px;
  margin: 5px 0;
  border-radius: 30px;
  border: 2px solid #e5e5e5;
}

.hero-text .social i {
  color: #efefef;
  font-size: 30px;
  margin-right: 10px;
  transition: 0.5s;
}

.hero-text .social i:hover {
  color: #007ced;
  transform: rotate(360deg);
}

/* Tentang */

.tentang{
  width: 100%;
  height: 100%;
  background-color: #1E1F23;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 85px;
  padding-bottom: 85px;
}

.tentang h1{
  font-size: 3.5rem;
  color: #E0E0E0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
}

.box{
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  border-radius: 5px;
  background-color: #232323;
  padding: 30px;
  color: #fff;
  box-shadow: 0px 5px 15px #3F51B5;
}

.box-text h2{
  font-size: 2.2rem;
  padding-bottom: 25px;
  text-align: center;
}

.box-text p{
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}

.box ul{
  padding: 5px 20px;
}

.box ul li{
  font-size: 20px;
  padding-bottom: 5px;
}

.pendidikan{
  padding-top: 50px;
  justify-content: center;
  align-items: center;

}

.isi-pend{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
  background-color: #151A16;
  width: 250px;
  height: 355px;
  border: 1px;
  border-radius: 15px;
  margin: 10px;
  overflow: hidden;  
  transition: 0.5s;
}

.card:hover{
  box-shadow: 0px 5px 10px #007ced;
  transform: scale(1.05);
}

.card-pic{
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.card-pic img{
  width: 100%;
  height: 100%;
  border: 1px;
  border-radius: 2px;
}

.card-text{
  color: #EAEAEA;
  text-align: center;
  padding: 15px;
}

/* Skills */

.skills{
  width: 100%;
  height: 100%;
  margin-top: 50px;
  background-color: #1E1F23;
  padding: 20px;
}

.skills h1{
  color: #E0E0E0;
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 50px;
}

.skills .skillbox{
  max-width: 800px;
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.skills .skillbox i{
  width: 75px;
  color: #fff;
  font-size: 50px;
  margin: 0px auto 5px 20px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.skills .skillbox i:hover{
  transform: scale(1.1);
}

.skillbox .skilltext{
  font-size: 25px;
  text-align: center;
}

.skillbox .html:hover{
  color: #F16A30;
}
.skillbox .css:hover{
  color: #36ADDE;
}
.skillbox .js:hover{
  color: #F7E024;
}
.skillbox .php:hover{
  color: #7B7FB5;
}
.skillbox .laravel:hover{
  color: #F5360B;
}
.skillbox .react:hover{
  color: #08D9FF;
}
.skillbox .database:hover{
  color: #08668E;
}

/* Projects */

.projects{
  width: 100%;
  height: 100%;
  background-color: #1E1F23;
  padding-top: 85px;
  justify-content: center;
  align-items: center;
  margin-bottom: 85px;
}

.projects h1{
  font-size: 3.5rem;
  color: #E0E0E0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.projects p{
  color: #fff;
  width: 70%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.isi-prj{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.prjctcard{
  background-color: #151A16;
  width: 350px;
  /* height: 400px; */
  border: 1px solid #4169E1;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #007aeda4;
  margin:10px;
  margin-top: 50px;
  overflow: hidden;  
  transition: 0.5s;
  justify-content: end;
  align-items: end;
}

.proimg{
  width: 330px;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px auto;
}

.proimg img{
  width: 100%;
  border: 1px;
  border-radius: 10px;
  transition: 0.5s;
}

.proimg img:hover{
  transform: scale(1.02);
}

.protext{
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.protext .PRtitle{
  color: #4FC3F7;
  display: block;
  font-weight:bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.protext .bhs{
  /* height: 50px; */
  font-size: 15px;
  display: block;
  background-color: #4169E1;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px;
  border: 1px;
  border-radius: 20px;
}

.probtn{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.probtn .view-gh{
  width: 120px;
  text-align: center;
  color: #fff;
  background-color: #222;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  border-color: #334F9E;
  transition: 0.25s;
}

.probtn .view-gh:hover{
  background-color: #1f3347;
  border-color: #08D9FF;
  transform: translatey(-2px) scale(1.05);
}

.probtn .view{
  width: 120px;
  text-align: center;
  border-color: #d5d5d5;
  color: #fff;
  background-color: #3e64cd;
  padding: 10px ;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  transition: 0.25s;
}

.probtn .view:hover{
  background-color: #005db4;
  border-color: #08D9FF;
  transform: translatey(-2px) scale(1.05);
}

/* Footer */
.footer{
  width: 100%;
  height: 300px;
  padding-top: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.f-logo{
  display: flex;
  flex-direction:column;
  margin-left: auto;
  margin-bottom: 20px;
}

.f-logo i{
  margin-bottom: 10px;
  height: 60px;
  width: 60px;
  font-weight: 800;
  padding-top: 18px;
}

.foottext{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.foottext h1{
  color: #fff;
  padding-bottom: 10px;
  font-size: 1.5em;
}

.foottext .social i{
  color: #efefef;
  font-size: 30px;
  margin:5px;
  transition: 0.5s;
}

.cr{
  color: #ffffff7b;
  text-align: center;
  /* margin-left: 15px; */
}

.foottext .social i:hover{
  color: #007ced;
  transform: rotate(360deg);
}

@media (max-width: 930px) {
  body{
    overflow-x: hidden;
  }
  
  nav .togglebtn {
    display: initial;
  }

  .click {
    top: 45px;
  }

  .click span {
    position: absolute;
    margin-top: 12px;
  }

  .click span:first-child {
    transform: rotate(-45deg);
  }

  .click span:nth-child(2) {
    opacity: 0;
    margin: 0;
  }

  .click span:last-child {
    transform: rotate(45deg);
    top: 0;
  }

  nav .navlinks {
    position: absolute;
    top: 85px;
    right: -100%;
    bottom: 0;
    width: 40%;
    height: 100vh;
    background-color: #222;
    z-index: 3;
    box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    padding: 25px 0;
  }

  nav .navlinks li {
    display: block;
  }

  nav .navlinks li a {
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }

  nav .navlinks.open {
    right: 0;
  }
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
    padding-top: 2rem;
  }

  .container .hero-pic{
    width: 300px;
    height: 300px;
  }

  .hero-text {
    padding: 40px 0px;
  }

  .box{
    max-width: 700px;
  }
}

